{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Your Identity</title>
    <link rel="stylesheet" href="{% static 'css/userregistration.css' %}">
</head>
<body>
    <form action="{% url 'home' %}" method="POST">
        <div class="page-title">
            <h1>Register Your Identity</h1>
        </div>
        {% for message in messages %}
        <ul>
            <li>{{message}}</li>
        </ul>
        {% endfor %}
        <div class="page-body">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td>
                        <div class="button-30">
                            <input type="submit" value="Unfold The Universal Truth" class="submit-button">
                        </div>
                    </td>
                    <td>
                        <div class="button-30">
                            <a href="{% url 'log-in' %}"><input type="button" value="Legendary User" class="submit-button"></a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>